.icon {
    width:22px;
    height:22px;
    display:inline-block;
}

.imp {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/label_important_black_20dp.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity:0.16;
}

.imp-marked {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/label_important_googyellow500_20dp.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 1;
}


td {
    padding-right: 30px;
    height: 20px;
    font-family: 'Roboto';
    cursor: pointer;
    font-size:0.8em;
    /* border: 1px solid black; */
}

tr {
    height: 20px;
}

li {
    padding: 10px 0;
}

li:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;
}

li:not(:last-child){
    border-bottom: var(--clr10) 1px solid;
}

.emails-table{
    background-color: var(--clr8);
    height:100%;
    margin-top:30px;
    margin-left:100px;
    padding:0;
    /* border: 1px solid black; */
    max-width:90vw;
    min-width:70vw;

}

.email-from {
    min-width:300px;
    text-overflow: ellipsis ;
}

.star {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/star_border_black_20dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.16;
}

/* .star:hover {
    opacity: 1;
} */

.starred {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/star_googyellow500_20dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size:20px;
    opacity: 1;

}

.email-checkbox {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/check_box_outline_blank_black_20dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;   
    opacity: 0.16;
}

.email-checkbox-checked {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/check_box_black_20dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;   
    opacity: 1;
}

table:hover > tr > td > i {
    opacity: 1;
}

table:hover > tr > .action-icons  {
    display:flex;
}

table:hover > tr > .email-time {
    display:none;
}

.email-subject {
    padding-inline-end: 1px;
    width:30%;
    text-align: start;
    width:65%;
    text-overflow: ellipsis ellipsis;
    white-space: nowrap;
}

.email-body-header{
    color: var(--clr9);
    text-align: start;
    width: 30%; 
    text-overflow: ellipsis ;
}

.email-time {
    text-align: end;
    /* border:solid 1px black; */
    width:10%;
}

.email-delete{
    background-image: url('../../../../img/baseline_delete_black_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size:20px;
    opacity: 1;

}

.email-read{
    background-image: url('../../../../img/baseline_mark_as_unread_black_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size:20px;
    opacity: 1;
}

.email-unread{
    background-image: url('../../../../img/baseline_drafts_black_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size:20px;
    opacity: 1;
}

.unread-status {
    font-weight: bold;
}

.no-mails{
    padding: 20px 10px;
}

a{
    text-decoration: none; /* no underline */
    color:inherit;
}