.subject {
    color: black;

}

.display-email {
    width: 100%;
    max-width: 90vw;
    min-width: 70vw;
    background-color: var(--clr7);
}

.user-icon {
    background-image: url('../../../../img/user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 50px;
    width: 100px;
    height: 100px;
    display: inline-block;

}

.to {
    opacity: 0.5;
    font-size: 0.8em;
}

.display-email {
    height: 50vh;
    padding-right: 20px;
}

.email-body {
    margin-left: 28px;
}

.email-date {
    font-size: 0.8em;
}

.send-note {
    background-image: url('../../../../img/send-note.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    margin: 0 5px;

}

.send-note:hover {
    transform: scale(1.2);
}