.side-bar {
    width: 100px;
    height: 400px;
    /* position: fixed; */
    /* margin: 10px; */
}

.compose-placeholder{
    align-items: center;
    /* display: flex; */
    font-size: medium;
    height: 48px;
    margin: 16px 0 16px;
    padding: 0 0 0 8px;
    background-color: var(--clr14);
    
}

.compose {
    align-items: center;
    font-size: medium;
    height: 48px;
    margin: 16px 0 16px;
    font-size: .875rem;
    letter-spacing: .25px;
    color: var(--clr15);
    display: inline-flex;
    min-width: 56px;
    overflow: hidden;
    padding: 0 24px 0 0;
    text-transform: none;
    border-radius: 24px;
    line-height: 32px;
    text-align: center;
    white-space: nowrap;
    font-family: 'Google Sans-Medium',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.compose::before{
    background-image: url('https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    display:block;
    height:48px;
    min-width:56px
}

.compose:hover{
    background-color: var(--clr8);
    color: var(--clr1);
    box-shadow: 5px 5px 15px -5px #000000;
    cursor: pointer;
}

.nav-list {
    /* padding:0; */
    padding:10px;
    margin: 0 -10px;
    /* margin:10px; */
    width:200px;
}

.nav-list>li:hover {
    box-shadow: inset 0px -20px 20px 20px var(--clr11);
    cursor: pointer;
}

.selected-li {
    box-shadow: inset 0px -20px 20px 20px var(--clr11);
    font-weight: bold;
}

.nav-list > li > a {
    text-decoration: none; /* no underline */
    color:inherit;
    padding:10px;

    /* padding-right: 30px; */
    /* padding: 11px 48px 11px 0; */
    /* border: 2px solid black; */
    /* width:100px; */
}

.nav-list > li {
    border-bottom: none;
    height:32px;
    border-radius: 0 16px 16px 0;
    width:100%;
    /* width: 90px; */
}

.inbox-sb-icon{
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/inbox_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 10px;
    opacity: 1;
}
.important-sb-icon{
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/label_important_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 10px;
    opacity: 1;
}

.star-sb-icon{
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/star_border_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 10px;
    opacity: 1;    
}

.sent-sb-icon {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/send_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 10px;
    opacity: 1;
}

.trash-sb-icon {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/delete_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-right: 10px;
    opacity: 1;
}

.mail-count{
    padding-left: 5px;
}