.email-list {
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    min-width:87vw;
}

.email-selected {
    background-color:lightblue;
}

.email-item {
    background-color: var(--clr8);
}