/* Basic */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    background-color: #9bdaffe5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
}

hr {
    background-color: #102e4a;
    height: 3px;
    border: none;
}

button {
    color: white;
    background-color: #102e4a;
    border-radius: 5px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
}

.checked {
    color: orange;
}  
