/* app-header , app-footer */
.app-header,
.app-footer {
    background-color: var(--clr1);
    color: var(--clr5);
    height: 60px;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header h3 , .nav-bar a{
    font-family: 'Google sans', sans-serif;
}
.app-header h3 {
    font-size: 40px;
    font-family: Cinzel, sans-serif;
}

.app-header a {
    text-decoration: none;
    
}

.app-footer p {
    text-align: center;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}
