.home-page {
    position: relative;
    align-items: flex-end;
    background-color: white;
}
.homepage-header {
    position: absolute;
    font-size: 37px;
    font-family: Cinzel, sans-serif;
    top: 30px;
    left: 20px;
    z-index: 2;
}
.homepage-header span {
    font-size: 40px;
    color: rgb(34, 34, 34);
}
.homepage-nav {
    width: 50%;
    justify-content: space-evenly;
    height: 70px;
    color: white;
    font-size: 24px;
    font-family: 'Google sans', sans-serif;
    cursor: pointer;
    margin-bottom: 160px;
    z-index: 2;
}
.homepage-nav-button {
    background-color: rgba(27, 27, 27, 0.815);
    height: 100%;
    width: 100%;
    min-width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.651);
    transition: all .3s;
    position: relative;
}

.homepage-nav-button:hover {
    background-color: rgba(0, 0, 0, 0.952);
}

.about-content{
    margin: 0 30px;
    font-family: 'Google sans', sans-serif;
    background-color: #ffffff8a;
    padding: 1rem 0;
    border-radius: 1rem;
    z-index: 2;
    max-height: calc(100vh - 237px);
    overflow: hidden;
}
.about-content p {
    margin-block-end: 1rem;
    margin-block-start: .2rem;
}
.about-content h3 {
    margin-block-end: .5rem;
}

.horse-logo-div {
    background-image: url(../../img/horse-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-position-x: 50%;
    top: calc(50vh - 360px);
    z-index: 0;
    width: 30vw;
    height: 30vw;
    transform: translateY(100px);
    min-width: 270px;
    min-height: 270px;
    max-width: 370px;
    max-height: 370px;
}

.bottom-shadow {
    box-shadow: 4px 7px 17px 8px #4c282882;
    width: 68%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: transparent;
    border-radius: 50%;
}