.compose-header{
    background-color: var(--clr13);
    color: var(--clr7);
    width:608px;
    height: auto;
    line-height: 20px;
    padding: 10px 0;
    position:absolute;
    bottom:0;
    height:608px;
    width: 100%;
    z-index: 3;
}