.icon {
    width:22px;
    height:22px;
    display:inline-block;
}

.icon.imp {
    background-image: url('../../../../img/important-50-empty.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translateY(4px);
}

tr , td {
    height: 20px;
    /* background-color:white; */
}

td {
    margin: 0 50px;

}