/* SMALL */

@media (min-width: 640px) {

   

}

/* MEDIUM */

@media (min-width: 880px) {

    .email-list{
        min-width: 60vw;
    }
    .email-time{
        display: inline-block;
    }
}

/* large */

@media (min-width: 1400px) {
   .email-list{
       min-width: 87vh;
   }
}