@media (max-width: 1420px) {
    .note-cards-container {
        column-count: 4;
    }
}
@media (max-width: 1160px) {
    .note-cards-container {
        column-count: 3;
    }
}

@media (max-width: 860px) {
    .note-cards-container{
        column-count: 2;
    }
    .home-page {
        background-size: cover;
    }
}

@media (max-width: 580px) {
    .note-cards-container{
        column-count: unset;
    }
    .note-card {
        margin: 1rem auto;
    }
    .homepage-nav {
        margin-bottom: 30px;
        flex-direction: column;
        height: 30vh;
        width: 70vw;
    }
    .app-header {
        flex-direction: column;
        height: fit-content;
    }
    .nav-bar {
        margin-block-end: 5px;
    }
}

@media (max-width: 460px) {
    .add-note-container {
        flex-direction: column;
        height: 150px;
        justify-content: space-evenly;
    }
}
