@media (max-width: 1420px) {
    .note-cards-container {
        column-count: 4;
    }
}
@media (max-width: 1160px) {
    .note-cards-container {
        column-count: 3;
    }
}

@media (max-width: 860px) {
    .note-cards-container{
        column-count: 2;
    }
}

@media (max-width: 580px) {
    .note-cards-container{
        column-count: unset;
    }
    .note-card {
        margin: 1rem auto;
    }
}

/* 
#e3e3e3
#f88
#865687
#4a4150 // white
#747474 // white
#010630 // white
#440101 // white
#4a4a4a // white
#222222 // white
#000 // white
*/