.note-card {
  width: 240px;
  height: auto;
  margin-block-end: 1rem;
  break-inside: avoid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  background-position-x: left;
  background-position-y: bottom;
  background-size: cover;
}

.cmp-note-container {
  -webkit-box-shadow: 0px 9px 19px -4px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 9px 19px -4px rgba(0, 0, 0, 0.37);
  border-radius: 0.5rem;
}

.dropdown-content {
  position: absolute;
  transform: translateX(-50%);
  width: 360px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  text-align: center;
}
.dropdown-content span {
  display: inline-block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 1px;
}

.dropdown-content .bg-img-note {
  height: 33px;
  width: 33px;
  background-position-x: left;
  background-position-y: bottom;
  background-size: cover;
  margin: 0 1px 2px;
}

.note-card ul {
  list-style: circle;
  border-radius: 0.5rem;
  padding: 0 1.2em;
  transition: background-color 0.3s;
}

.note-modal {
  position: fixed;
  z-index: 100;
  width: 50vh;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.note-modal iframe {
  height: 350px;
  width: inherit;
  transform: translateX(-1rem);
}

.screen-for-modal {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
  position: fixed;
  cursor: pointer;
}

.note-card li {
  position: relative;
}
.note-card li:hover {
  box-shadow: unset;
}
.note-card img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.note-card h1,
.note-card h2,
.note-card h3,
.note-card h4,
.note-card h5,
.note-card p {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

.note-item-actions i {
  cursor: pointer;
}

.dropdown:hover > .dropdown-content {
  opacity: 1;
  visibility: visible;
  z-index: 80;
}
.onclick-dropdown-content {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 80;
}
.dropdown .dropdown-content .droplet i {
  transform: translateY(4px);
}
.dropdown .dropdown-content .set-no-background {
    background-position-y: center;
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
  background-image: url('https://fonts.gstatic.com/s/i/googlematerialicons/image_not_supported/v12/gm_grey-24dp/1x/gm_image_not_supported_gm_grey_24dp.png');
}
.note-item-actions {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.note-card:hover > .note-item-actions {
  opacity: 1;
  visibility: visible;
}

.delete-todo-icon {
  position: absolute;
  bottom: 0.5rem;
  right: -1rem;
  cursor: pointer;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.marked-note {
  -webkit-box-shadow: inset 0px -6px 14px 0px #8cff00; 
  box-shadow: inset 0px -6px 14px 0px #8cff00;
}

.pinned-note {
  position: absolute;
  right: -1px;
  top: 4px;
  transform: rotate(19deg);
  color: rgb(131, 14, 14);
}
.card-url-input {
  border: 0;
  outline: 0;
  width: 100%;
  height: 1.5rem;
  border-radius: 0.2rem;
  margin: 0.3rem 0;
}
.card-url-input:focus-visible {
  outline: none;
}

.on-edit-note::after {
  content: "|";
  animation-name: blink;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
