.add-notes {
    margin: 1rem auto;
}

.add-input {
    height: 2em;
    border: 0;
}
.add-input:focus-visible {
    outline: none;
}
.long-input {
    width: 100%;
}
.long-input-container {
    width: 60%;
}

.add-note-container {
    background-color: white;
    padding: 1rem;
    height: 100px;
    width: 500px;
    border-radius: .5rem;
    position: relative;
}

.add-input-title {
    position: absolute;
    top: 0;
    border-bottom: 1px solid rgba(48, 48, 48, 0.301);
}

.note-icons {
    color: rgba(0, 0, 0, 0.459);
    transition: color .2s;
}

.note-icons:hover {
    cursor: pointer;
    color: black;
}