.note-card {
  width: 240px;
  height: auto;
  margin-block-end: 1rem;
  break-inside: avoid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  -webkit-box-shadow: 0px 9px 19px -4px rgba(0,0,0,0.37); 
  box-shadow: 0px 9px 19px -4px rgba(0,0,0,0.37); 
}

.note-card ul {
  list-style: circle;
  border-radius: 0.5rem;
  padding: 0 1.2em;
  transition: background-color 0.3s;
}

.note-modal {
  position: absolute;
  z-index: 100;
  width: 50vh;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.note-modal iframe {
  height: 350px;
  width: inherit;
  transform: translateX(-1rem);
}

.screen-for-modal{
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
  position: absolute;
  cursor: pointer;
}

.note-card li {
  position: relative;
}
.note-card li:hover {
  box-shadow: unset;
}
.note-card img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.note-card h1,
.note-card h2,
.note-card h3,
.note-card h4,
.note-card h5,
.note-card p {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

.dropdown-content span {
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 1px;
}
.note-item-actions i {
  cursor: pointer;
}
.dropdown-content {
  position: absolute;
  transform: translateX(-44%);
  width: 240px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.dropdown:hover > .dropdown-content {
  opacity: 1;
  visibility: visible;
}
.note-item-actions {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.note-card:hover > .note-item-actions {
  opacity: 1;
  visibility: visible;
}

.delete-todo-icon {
  position: absolute;
  bottom: 0.5rem;
  right: -1rem;
  cursor: pointer;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.marked-note {
  -webkit-box-shadow: 0px 16px 27px -12px #8CFF00; 
box-shadow: 0px 16px 27px -12px #8CFF00;
}

.pinned-note {
  position: absolute;
  right: -1px;
  top: 4px;
  transform: rotate(19deg);
  color: rgb(131, 14, 14);
}
.card-url-input {
  border: 0;
  outline: 0;
  width: 100%;
  height: 1.5rem;
  border-radius: 0.2rem;
  margin: 0.3rem 0;
}
.card-url-input:focus-visible {
  outline: none;
}

.on-edit-note::after {
  content: "|";
  animation-name: blink;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
